.custom-container{
    overflow-x: hidden;
}

.gold-color{
  color: #efb810;
}

.one-div {    
    width: 80%;
    animation: rot 2s infinite ease;
    border-radius: 20px;
  }
  
  @keyframes rot {
    0% {
      transform: rotateX(-15deg) translateY(0px);
    }
  
    50% {
      transform: rotateX(-15deg) translateY(-10px);
    }
  
    100% {
      transform: rotateX(-15deg) translateY(0px);
    }
  }