.navbar{   
 background-color: #1a2930;
}

.nav-link {
    color: white;
    position: relative; /* Establece una posición para el pseudo-elemento de subrayado */
}

.nav-link::before {
    content: ''; /* Pseudo-elemento vacío para crear el subrayado */
    position: absolute;
    bottom: -1px; /* Ubicación del subrayado por debajo del texto */
    left: 0;
    width: 100%;
    height: 2px; /* Grosor del subrayado */
    background-color: white; /* Color del subrayado */
    transform: scaleX(0); /* Escala inicial del subrayado (0 indica que no se verá) */
    transition: transform 0.2s ease; /* Transición para animar el subrayado */
}

.nav-link:hover {
    color: white; /* Mantener el color en blanco del texto al pasar el ratón */
}

/* Estilos adicionales al pasar el ratón por encima */
.nav-link:hover::before {
    transform: scaleX(1); /* Escala 1 para mostrar el subrayado completo al pasar el ratón */
}