<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <canvas id="particle-canvas"></canvas>
    <link rel="stylesheet" href="/css/contactStyle.css">
    <script src="/js/fondo.js">
    </script>
</head>

<body>
    <div class="container py-5">
        <form>
            <div class="form-group">
                <label for="email">Correo Electrónico</label>
                <input type="email" class="form-control" id="email">
            </div>
            <div class="form-group">
                <label for="message">Mensaje </label>
                <textarea type="text" class="form-control" name="message" id="message"></textarea>
            </div>
            <div class="py-3">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>

    <div class="container-redes">
        <ul class="d-flex justify-content-center list-unstyled py-5">
            <li class="mx-4">
                <a href="https://www.instagram.com/miguel02jm/?hl=es" class="Instagram">
                    <i class="fab fa-instagram fa-2x icon"></i>
                </a>
            </li>
            <li class="mx-4">
                <a href="https://twitter.com/Miguel02jm" class="Twitter">
                    <i class="fab fa-twitter fa-2x icon"></i>
                </a>
            </li>
            <li class="mx-4">
                <a href="https://github.com/miguel02jm" class="Github">
                    <i class="fab fa-github fa-2x icon"></i>
                </a>
            </li>
            <li class="mx-4">
                <a href="https://www.linkedin.com/in/miguel-%C3%A1ngel-ja%C3%A9n-mart%C3%ADnez-4806a8207/"
                    class="Linkedin">
                    <i class="fab fa-linkedin-in fa-2x icon"></i>
                </a>
            </li>
        </ul>
    </div>

</body>

</html>