<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/indexStyle.css">
    <canvas id="particle-canvas"></canvas>
    <link rel="stylesheet" href="/css/skillsStyle.css">
    <script src="/js/fondo.js"></script>
</head>

<body>
    <div class="container-fluid py-3">
        <h5>Estas son mis principales habilidades en el sector y el dominio que tengo de las mismas</h5>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="languages-list">
                    <ul class="list-unstyled">
                        <li>
                            <p>HTML</p>
                        </li>
                        <li>
                            <p>CSS</p>
                        </li>
                        <li>
                            <p>JavaScript</p>
                        </li>
                        <li>
                            <p>C++</p>
                        </li>
                        <li>
                            <p>PHP</p>
                        </li>
                        <li>
                            <p>SQL</p>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="frameworks-list">
                    <ul class="list-unstyled">
                        <li>
                            <p>Bootstrap</p>
                        </li>
                        <li>
                            <p>CodeIgniter</p>
                        </li>
                        <li>
                            <p>Laravel</p>
                        </li>
                        <li>
                            <p>NodeJS</p>
                        </li>
                        <li>
                            <p>Git</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>

</html>