<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/indexStyle.css">
    <canvas id="particle-canvas"></canvas>
    <link rel="stylesheet" href="/css/skillsStyle.css">
    <script src="/js/fondo.js"></script>
</head>

<body>
    <div class="container-fluid pt-5 ps-5">
        <h5>Estas son mis principales habilidades en el sector y el dominio que tengo de las mismas</h5>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 py-5">
                <div class="languages-list">
                    <h2 class="d-flex justify-content-center py-4">Lenguajes</h2>
                    <ul class="list-unstyled">
                        <li class="d-flex justify-content-between align-items-center">
                            <span class="ability-title">HTML</span>
                            <span class="ability-score">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </span>
                        </li>
                    </ul>
                    <ul class="list-unstyled">
                        <li class="d-flex justify-content-between align-items-center">
                            <span class="ability-title">CSS</span>
                            <span class="ability-score">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </span>
                        </li>
                    </ul>
                    <ul class="list-unstyled">
                        <li class="d-flex justify-content-between align-items-center">
                            <span class="ability-title">JavaScript</span>
                            <span class="ability-score">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </span>
                        </li>
                    </ul>
                    <ul class="list-unstyled">
                        <li class="d-flex justify-content-between align-items-center">
                            <span class="ability-title">PHP</span>
                            <span class="ability-score">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </span>
                        </li>
                    </ul>
                    <ul class="list-unstyled">
                        <li class="d-flex justify-content-between align-items-center">
                            <span class="ability-title">C++</span>
                            <span class="ability-score">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </span>
                        </li>
                    </ul>
                    <ul class="list-unstyled">
                        <li class="d-flex justify-content-between align-items-center">
                            <span class="ability-title">SQL</span>
                            <span class="ability-score">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-6 py-5">
                <div class="FrameworksTools-list">
                    <h2 class="d-flex justify-content-center py-4">Frameworks/Herramientas</h2>
                    <ul class="list-unstyled">
                        <li class="d-flex justify-content-between align-items-center">
                            <span class="ability-title">Bootstrap</span>
                            <span class="ability-score">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </span>
                        </li>
                    </ul>
                    <ul class="list-unstyled">
                        <li class="d-flex justify-content-between align-items-center">
                            <span class="ability-title">NodeJS/Express</span>
                            <span class="ability-score">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </span>
                        </li>
                    </ul>
                    <ul class="list-unstyled">
                        <li class="d-flex justify-content-between align-items-center">
                            <span class="ability-title">Laravel</span>
                            <span class="ability-score">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </span>
                        </li>
                    </ul>
                    <ul class="list-unstyled">
                        <li class="d-flex justify-content-between align-items-center">
                            <span class="ability-title">CodeIgniter</span>
                            <span class="ability-score">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </span>
                        </li>
                    </ul>
                    <ul class="list-unstyled">
                        <li class="d-flex justify-content-between align-items-center">
                            <span class="ability-title">Git</span>
                            <span class="ability-score">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row pt-2">
            <ul class="list-unstyled d-flex justify-content-center">
                <li>
                    <span class="ability-title pe-3">Principiante</span>
                    <span class="ability-score pe-5">
                        <i class="fa fa-star"></i>
                    </span>
                    <span class="ability-title pe-3">Básico</span>
                    <span class="ability-score pe-5">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </span>
                    <span class="ability-title pe-3">Intermedio</span>
                    <span class="ability-score pe-5">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </span>
                    <span class="ability-title pe-3">Avanzado</span>
                    <span class="ability-score pe-5">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </span>
                    <span class="ability-title pe-3">Experto</span>
                    <span class="ability-score pe-5">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</body>

</html>