html, body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color:white;
  }
  
  #particle-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, rgb(10, 10, 50) 0%,rgb(60, 10, 60) 100%);
    vertical-align: middle;
    z-index: -1;
  }

  /* Estilos personalizados para eliminar el subrayado y el color azul del enlace */
.custom-link {
  text-decoration: none; /* Elimina el subrayado del enlace */
  color: black; /* Cambia el color del texto del enlace, aquí se usa "black", pero puedes usar cualquier otro color que desees */
}

/* Estilos adicionales para el enlace al pasar el ratón por encima */
.custom-link:hover {
  text-decoration: none; /* Mantiene el subrayado eliminado al pasar el ratón por encima */
  color: blue; /* Cambia el color del texto del enlace cuando el ratón está sobre él, aquí se usa "red", pero puedes usar cualquier otro color que desees */
}