<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/navbarStyle.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbarColor">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" href="/">Inicio</a>
                    <a class="nav-link" href="skills">Habilidades</a>
                    <a class="nav-link" href="projects">Proyectos</a>
                    <a class="nav-link" href="contact">Contacto</a>
                </div>
            </div>
        </div>
    </nav>
</body>

</html>